body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

h1 {
    color: #7D3C98;
}

html {
    background-color: #f7eae8;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

a {
    color: #3498DB;
}

li.logo {
    color: #7D3C98; 
}

a:visited {
    color: #7D3C98;
}

a:hover {
    color: #7D3C98;
}

footer {
    border-top: solid 1px black;
    padding-top: 10px;
    text-align: center;
}
